body
{
   
   background-image: url("https://media.istockphoto.com/photos/laptop-with-office-accessories-on-wooden-table-business-background-picture-id868697268?k=20&m=868697268&s=612x612&w=0&h=AL2J382wTS05VHa1NbJx8ofR2vJNeBPtTvOW39i60W8=") 
    
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
}
.outer-frame
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: 650px;
    width: 90%;
    padding: 20px;
    background-color: skyblue;
}
.display-result
{
    background:#fefefe;
    width: 100%;
    border: 5px solid black;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.input
{
    text-align: right;
    overflow: hidden;
    width: 80%;
    height: 70px;
    font-size: 2rem;
}

.value
{
    color: #414034; ;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    flex: 1;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.enter
{
    background-color: lavender;
    

}